[Unit]
Description=Media Processor Service
After=network.target

[Service]
Type=simple
User=sharvinzlife
ExecStart=/home/sharvinzlife/Documents/JDownloader/media-processor.sh
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
