# Dependencies
node_modules/
package-lock.json

# Backup files
*.bak

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build files
build/js/

# Temporary files
.DS_Store
.env
